<nav class="navbar navbar-expand-lg navbar-dark bg-light">

    <div class="container">

        <img src="/fotos/5.png" class="img-fluid" alt="Imagem responsiva" width="80" height="60">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <form action="/home" method="GET">
                    <button class="btn btn-light mr-2" type="submit">Home</button>
                </form>
                <form action="/comprar" method="GET">
                    <button class="btn btn-light mr-2" type="submit">Comprar</button>
                </form>
                <form action="/alugar" method="GET">
                    <button class="btn btn-light mr-2" type="submit">Alugar</button>
                </form>
                <form action="/anunciar" method="GET">
                    <button class="btn btn-light mr-2" type="submit">Anunciar imovéis</button>
                </form>

                <li class="nav-item active">
                    <a class="nav-link" href="#"> </a>
                </li>
            </ul>
            <div class="dropdown mr-4">
                <button class="btn dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="fas fa-user-circle" id="bonequinho"></span>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <form action="/perfil" method="GET">
                        <button class="btn" type="submit" id="ttl">
                            <span class="fas fa-user"></span>
                            <span class="title">Meu Perfil</span>
                        </button>
                    </form>
                    <form action="/meus-anuncios" method="GET">
                        <button class="btn" type="submit" id="ttl">
                            <span class="fas fa-user-tag"></span>
                            <span class="title">Meus Anúncios</span>
                        </button>
                    </form>
                    <form action="/perfil" method="GET">
                        <button class="btn" type="submit" id="ttl">
                            <span class="fas fa-question-circle"></span>
                            <span class="title">Ajuda</span>
                        </button>
                    </form>
                    <div class="dropdown-divider"></div>
                    <form action="/logout" method="GET">
                        <button class="btn" type="submit" id="ttl">
                            <span class="fas fa-sign-out-alt"></span>
                            <span class="title">Sair</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>