<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="./css/inicio.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
</head>
<body id="fundo">


    <div class="container">
		<div class="img">
			<img src="fotos/01.png">
		</div>
		<div class="login-content">
            <form action="/autenticar" method="POST">
                <img src="fotos/3.png">
           		<div class="input-div one">
           		   <div class="i">
           		   		<i class="fas fa-envelope-open"></i>
           		   </div>
           		   <div >
           		   		<h5>Email</h5>
           		   		<input type="text" name="email" class="input">
           		   </div>
                </div>
                <div class="input-div two">
                    <div class="i">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div >
                        <h5>Senha</h5>
                        <input type="password" name ='senha' class="input">
                    </div>
                </div>   
                <a id="coco" href="#">esqueceu a senha?</a>
                <input  type="submit" class="btn" value="Entrar">
                <a href="/cadastro"><input  type="button" class="btn" value="Criar Conta"></a>
            </form>
            
        </div>
    </div>

    <script>
        var form = document.querySelector('form');
        var inputDiv = document.getElementById('barra');
        var urls = {
            cadastrar: '/home',
            login: '/cadastro'
        };
        function verificarDestino(e){
            e.preventDefault();
            console.log(e.target);
            var tipo = e.target.value;
            var url = urls[tipo];
            form.action = url;
            alert(url); // só para verificar
            form.submit();
        }
        inputDiv.addEventListener('click', verificarDestino);

    </script>

    <script type="text/javascript" src="./inicio.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>